<div fxLayout="column wrap" class="full_width" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="row wrap" style="width:90%" fxLayoutAlign="space-between stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div>
        <p>Add your feed</p>
      </div>
    </div>
    <div fxLayout="column wrap" fxLayoutAlign="center stretch" [fxShow]="true">
      <mat-icon>home</mat-icon>
    </div>
  </div>
  <div fxLayout="row wrap" style="width:90%" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" style="width:25%;" fxLayoutAlign="start stretch" [fxShow]="true"><img [src]="&apos;https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvAnOfzna3osNi9z7DxrGmcgyFtMbd0aoDDA&amp;usqp=CAU&apos;" style="width: 45px;height: 45px;border-radius: 50%;"></div>
    <div fxLayout="column wrap" style="    width: 75%;" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" style="height:100%;width:100%;" fxLayoutAlign="space-between stretch" [fxShow]="true">
        <div fxLayout="column wrap" style="height:100%;" fxLayoutAlign="center stretch" [fxShow]="true">
          <div>
            <span><a href="#"> Chrome </a><span class="font400"> &#x2022;3rd</span></span> <br>
            <span><a href="#"> Pay </a><span class="font400"> <mat-icon style="font-size: 17px;!important">public</mat-icon></span></span> <br>
            <span><a href="#"> varsity </a><span class="font400"> &#x2022;3rd</span></span>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <div style="width:100%;">
              <button aria-label="Follow" aria-pressed="false" type="button" class="followBtn" style="width: 100px;height: 30px;">
                <li-icon aria-hidden="true" type="plus-icon" size="small"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" width="16" height="16" focusable="false">
                    <path d="M14 9H9v5H7V9H2V7h5V2h2v5h5z" />
                  </svg></li-icon>
                <span aria-hidden="true">Follow</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" style="width:90%" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" style="width:25%;" fxLayoutAlign="start stretch" [fxShow]="true"><img [src]="&apos;https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvAnOfzna3osNi9z7DxrGmcgyFtMbd0aoDDA&amp;usqp=CAU&apos;" style="width: 45px;height: 45px;border-radius: 50%;"></div>
    <div fxLayout="column wrap" style="    width: 75%;" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" style="height:100%;width:100%;" fxLayoutAlign="space-between stretch" [fxShow]="true">
        <div fxLayout="column wrap" style="height:100%;" fxLayoutAlign="center stretch" [fxShow]="true">
          <div>
            <span><a href="#"> Chrome </a><span class="font400"> &#x2022;3rd</span></span> <br>
            <span><a href="#"> Pay </a><span class="font400"> <mat-icon style="font-size: 17px;!important">public</mat-icon></span></span> <br>
            <span><a href="#"> varsity </a><span class="font400"> &#x2022;3rd</span></span>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <div style="width:100%;">
              <button aria-label="Follow" aria-pressed="false" type="button" class="followBtn" style="width: 100px;height: 30px;">
                <li-icon aria-hidden="true" type="plus-icon" size="small"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" width="16" height="16" focusable="false">
                    <path d="M14 9H9v5H7V9H2V7h5V2h2v5h5z" />
                  </svg></li-icon>
                <span aria-hidden="true">Follow</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" style="width:90%" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" style="width:25%;" fxLayoutAlign="start stretch" [fxShow]="true"><img [src]="&apos;https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvAnOfzna3osNi9z7DxrGmcgyFtMbd0aoDDA&amp;usqp=CAU&apos;" style="width: 45px;height: 45px;border-radius: 50%;"></div>
    <div fxLayout="column wrap" style="    width: 75%;" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" style="height:100%;width:100%;" fxLayoutAlign="space-between stretch" [fxShow]="true">
        <div fxLayout="column wrap" style="height:100%;" fxLayoutAlign="center stretch" [fxShow]="true">
          <div>
            <span><a href="#"> Chrome </a><span class="font400"> &#x2022;3rd</span></span> <br>
            <span><a href="#"> Pay </a><span class="font400"> <mat-icon style="font-size: 17px;!important">public</mat-icon></span></span> <br>
            <span><a href="#"> varsity </a><span class="font400"> &#x2022;3rd</span></span>
          </div>
          <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <div style="width:100%;">
              <button aria-label="Follow" aria-pressed="false" type="button" class="followBtn" style="width: 100px;height: 30px;">
                <li-icon aria-hidden="true" type="plus-icon" size="small"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" width="16" height="16" focusable="false">
                    <path d="M14 9H9v5H7V9H2V7h5V2h2v5h5z" />
                  </svg></li-icon>
                <span aria-hidden="true">Follow</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>