<div fxLayout="column wrap" class="fontsizE" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="row wrap" style="margin-bottom: 10%;" class="back_img" fxLayoutAlign="center stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img [src]="&apos;https://media-exp1.licdn.com/dms/image/D5635AQFi4i7KgaACgQ/profile-framedphoto-shrink_100_100/0/1644758691348?e=1655175600&amp;v=beta&amp;t=q8Jm42iKni3PhE_XDfsMTBUQ7ei4JaoAI0uE_QXU5bo&apos;"></div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true">
      <div class="width90">
        <a href="#" class="font600">oboikanyego Radipabe</a>
        <p class="font400">Student at University of Limpopo</p>
      </div>
    </div>
  </div>
  <div class="full_width">
    <hr>
  </div>
  <div fxLayout="row wrap" class="width90" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" style="width: 204px;" fxLayoutAlign="start center" [fxShow]="true">
      <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="start stretch" [fxShow]="true">
        <div style="width:70%">
          <span class="font400">Connections</span> <br><span>Grow your network</span>
        </div>
        <div style="width:30%" class="flex">
          <span class="bluetxt">55</span>
        </div>
      </div>
    </div>
    <div fxLayout="column wrap" style="width: 204px;" fxLayoutAlign="start center" [fxShow]="true">
      <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="start stretch" [fxShow]="true">
        <div style="width:70%">
          <span class="font400 font_size">Who&apos;s viewed your profile</span>
        </div>
        <div style="width:30%" class="flex">
          <span class="bluetxt">55</span>
        </div>
      </div>
    </div>
  </div>
  <div class="full_width">
    <hr>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <div>
      <span class="font400"> Access exclusive tools &amp; insights </span> <br>

      <span> <a>
    <svg class="svgSide" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" width="13" focusable="false">
  <path d="M20 20a3.36 3.36 0 001-2.39V6.38A3.38 3.38 0 0017.62 3H6.38A3.36 3.36 0 004 4z" fill="#f8c77e"/>
  <path d="M4 4a3.36 3.36 0 00-1 2.38v11.24A3.38 3.38 0 006.38 21h11.24A3.36 3.36 0 0020 20z" fill="#e7a33e"/>
</svg>
    Try premium for free</a> </span>
    </div>
  </div>
  <div class="full_width">
    <hr>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <div>
      <span>

    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" width="13" focusable="false">
  <path d="M12 1H4a1 1 0 00-1 1v13.64l5-3.36 5 3.36V2a1 1 0 00-1-1z"/>
</svg>
    
    My items</span>
    </div>
  </div>
</div>