<div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true">
  <div fxLayout="row wrap" style="width:95%" fxLayoutAlign="space-around stretch" [fxShow]="true">
    <div fxLayout="column wrap" style="width:95%;" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img [src]="&apos;https://media-exp1.licdn.com/dms/image/D5635AQFi4i7KgaACgQ/profile-framedphoto-shrink_100_100/0/1644758691348?e=1655276400&amp;v=beta&amp;t=cd2CkZzcTPfII0-aWpYl9QQIxaLvBZEy6NSN70pUok4&apos;" class="postImg">
        <div class="marginLeft">
          <span><a href="#"> Chrome </a><span class="font400">likes this</span></span>
        </div>
      </div>
    </div>
    <div fxLayout="column wrap" style="width:5%;" fxLayoutAlign="start stretch" [fxShow]="true">
      <mat-icon>more_horiz</mat-icon>
    </div>
    <div class="full_width">
      <hr>
    </div>
  </div>
  <div fxLayout="row wrap" style="width:95%" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img [src]="&apos;https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvAnOfzna3osNi9z7DxrGmcgyFtMbd0aoDDA&amp;usqp=CAU&apos;" class="postimage"></div>
    <div fxLayout="column wrap" style="    width: 90%;" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" style="height:100%;width:100%;" fxLayoutAlign="space-between stretch" [fxShow]="true">
        <div fxLayout="column wrap" class="marginLeft full_height" fxLayoutAlign="center stretch" [fxShow]="true">
          <div>
            <span><a href="#"> Chrome </a><span class="font400"> &#x2022;3rd</span></span> <br>
            <span><a href="#"> Pay </a><span class="font400"> <mat-icon style="font-size: 17px;!important">public</mat-icon></span></span> <br>
            <span><a href="#"> varsity </a><span class="font400"> &#x2022;3rd</span></span>
          </div>
        </div>
        <div fxLayout="column wrap" style="height:100% " fxLayoutAlign="center stretch" [fxShow]="true">
          <div>
            <button class="bluetxt" aria-label="Follow" aria-pressed="false" type="button" style="border:none">
              <li-icon aria-hidden="true" type="plus-icon" class="artdeco-button__icon" size="small"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" class="mercado-match" width="16" height="16" focusable="false">
                  <path d="M14 9H9v5H7V9H2V7h5V2h2v5h5z" />
                </svg></li-icon>
              <span aria-hidden="true">Follow</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" style="width:95%" fxLayoutAlign="start stretch" [fxShow]="true">
    <p class="postsTxt">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry&apos;s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
  </div>
  <div fxLayout="row wrap" style="width:100%;margin-bottom:7px;" fxLayoutAlign="start stretch" [fxShow]="true"><img [src]="&apos;https://artsandsciences.osu.edu/sites/default/files/styles/news_event/public/Supermassive_black_hole.jpg?itok=kG8XaSYl&apos;" style="width:100%;"></div>
  <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="start stretch" [fxShow]="true">
    <div style="width:100%;">
      <button type="button" style="border:none" class="PostsBtn">
        <img src="https://static-exp2.licdn.com/sc/h/8ekq8gho1ruaf8i7f86vd1ftt" alt="like">

        <img src="https://static-exp2.licdn.com/sc/h/3wqhxqtk2l554o70ur3kessf1" alt="support">
        <span>
                  Bk liked this
            </span>
      </button>
    </div>
  </div>
  <div fxLayout="row wrap" style="width:95%;height:20px;" fxLayoutAlign="start stretch" [fxShow]="true">
    <div class="full_width">
      <hr>
    </div>
  </div>
  <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="space-around stretch" [fxShow]="true">
    <div fxLayout="column wrap" class="PostsBtn" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-icon class="fontIcons">thumb_up</mat-icon>
        <div>
          <button class="PostsBtn">
            <span>
          Like
        </span>
          </button>
        </div>
      </div>
    </div>
    <div fxLayout="column wrap" class="PostsBtn" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-icon class="fontIcons">insert_comment</mat-icon>
        <div>
          <button class="PostsBtn">
            <span aria-hidden="true">
        Comment
        </span>
          </button>
        </div>
      </div>
    </div>
    <div fxLayout="column wrap" class="PostsBtn" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-icon class="fontIcons">share</mat-icon>
        <div>
          <button class="PostsBtn">
            <span aria-hidden="true">
          Like
        </span>
          </button>
        </div>
      </div>
    </div>
    <div fxLayout="column wrap" class="PostsBtn" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-icon class="fontIcons">send</mat-icon>
        <div>
          <button class="PostsBtn">
            <span aria-hidden="true">
          Like
        </span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"></div>
</div>