<div fxLayout="row wrap" style="background:white;height:100%;" class="full_width" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="space-around stretch" [fxShow]="true">
    <div fxLayout="row wrap" class="full_width" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="column wrap" style="width:12%;" fxLayoutAlign="start center" [fxShow]="true"><img [src]="&apos;https://media-exp1.licdn.com/dms/image/D5635AQFi4i7KgaACgQ/profile-framedphoto-shrink_100_100/0/1644758691348?e=1655175600&amp;v=beta&amp;t=q8Jm42iKni3PhE_XDfsMTBUQ7ei4JaoAI0uE_QXU5bo&apos;" style="width: 45px;height: 45px;border: white solid;border-radius: 50%;"></div>
      <div fxLayout="column wrap" class="inputSearch width88" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-button class="full_height full_width">Button</button></div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" [fxShow]="true">
      <div fxLayout="column wrap" class="onhover" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <mat-icon style="color: #378fe9;">image</mat-icon>
          <div style="    width: 92%;">
            <span>Photo</span>
          </div>
        </div>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <mat-icon style="color: #5f9b41;">slideshow</mat-icon>
          <div>
            <span>Video</span>
          </div>
        </div>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <mat-icon style="color: #c37d15;">today</mat-icon>
          <div>
            <span>Calendar</span>
          </div>
        </div>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <mat-icon style="color:#e16745;">description</mat-icon>
          <div>
            <span>File</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>