<div fxLayout="row wrap" style="background:white;" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" style="width:100%;" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true"><img [src]="&apos;https://media-exp1.licdn.com/dms/image/D5635AQFi4i7KgaACgQ/profile-framedphoto-shrink_100_100/0/1644758691348?e=1655175600&amp;v=beta&amp;t=q8Jm42iKni3PhE_XDfsMTBUQ7ei4JaoAI0uE_QXU5bo&apos;" style="width: 45px;height: 45px;border: white solid;border-radius: 50%;"></div>
      <div>
        <input style="color: #666666;
    border-radius: 30px;
    height: 48px;
    border-color: rgba(0,0,0,0.6);
    font-size: small;
    font-weight: bold;
    width:438px;" placeholder="Start a post">
      </div>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between stretch" [fxShow]="true">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <mat-icon style="color: #378fe9;">image</mat-icon>
          <div>
            <span>Photo</span>
          </div>
        </div>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <mat-icon style="color: #5f9b41;">slideshow</mat-icon>
          <div>
            <span>Photo</span>
          </div>
        </div>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <mat-icon style="color: #c37d15;">today</mat-icon>
          <div>
            <span>Photo</span>
          </div>
        </div>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <mat-icon style="color:#e16745;">description</mat-icon>
          <div>
            <span>Photo</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>