<div fxLayout="row wrap" style="width:100%;" fxLayoutAlign="center stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxFlex="77" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" class="icons" fxLayoutAlign="space-between stretch" [fxShow]="true">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" style="height: 53%;" fxLayoutAlign="start stretch" [fxShow]="true"><img [src]="&apos;https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPLvzohwGe0n2ZCWXmXavzhpVEOILdK_5Tiw&amp;usqp=CAU&apos;" style="width:24px;">
          <mat-form-field [appearance]="&apos;outline&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
            <input matInput placeholder="Search" [required]="false">

          </mat-form-field>
        </div>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="column wrap" style="width: 500px;" fxLayoutAlign="start stretch" [fxShow]="true">
            <div fxLayout="row wrap" class="icons" fxLayoutAlign="space-around stretch" [fxShow]="true">
              <div fxLayout="column wrap" class="onhover" fxLayoutAlign="start center" [fxShow]="true">
                <mat-icon style=" color:#666666;">home</mat-icon>
                <div>
                  HOME</div>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true">
                <mat-icon style=" color:#666666;">group</mat-icon>
                <div>
                  my Network</div>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true">
                <mat-icon style=" color:#666666;">work</mat-icon>
                <div>
                  Jobs</div>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true">
                <mat-icon style=" color:#666666;">comment</mat-icon>
                <div>
                  messaging</div>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true">
                <mat-icon style=" color:#666666;">notifications_none</mat-icon>
                <div>
                  Notifications</div>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true"><img [src]="&apos;https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPLvzohwGe0n2ZCWXmXavzhpVEOILdK_5Tiw&amp;usqp=CAU&apos;" style="width:24px">
                <div>
                  Me</div>
              </div>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <div fxLayout="row wrap" class="head_paragraph" fxLayoutAlign="space-between stretch" [fxShow]="true">
              <div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true">
                <mat-icon style=" color:#666666;">apps</mat-icon>
                <div>
                  Work</div>
              </div>
              <p>
                <a href="#" class="gold">Try premium for free</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>